.view-container {
    height: 100%;
}
.cart-sidenav {
    width: 400px;
    max-width: 100%;
    .inside-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        .cart-header {
            display: flex;
            flex: 0 0 auto;
            button.cart-close {
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
        .empty-cart {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Great Vibes;
            font-size: 20px;
        }
        .cart-title {
            font-family: "Great Vibes";
            font-size: 30px;
            flex: 1;
            justify-content: center;
            display: flex;
            padding-bottom: 0.25rem;
            margin-top: 1rem;
        }
        .horizontal-divider {
            background-image: linear-gradient(to right, #000000, #ffffff);
            height: 2px;
        }
    }
    ::ng-deep .cart-items {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 10px;
        padding: 0.5rem; 
        // flex: 1 1 auto;
        .title {
            font-family: "Great Vibes";
            font-size: 25px;
        }
        .quantity-display {
            display: flex;
            font-family: "Roboto sans-serif";
            button.mdc-button {
                border: none;
            }
            &-number {
                display: flex;
                line-height: 2.25rem;
            }
        }
        .item-amount {
            display: flex;
            justify-content: center;
            font-family: 'Roboto sans-serif';
            line-height: 2.25rem;
        }
    }

    .cart-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        .total-amount {
            display: grid;
            grid-template-columns: 2fr 1fr;
            padding: 10px;
            .amount-title {
                font-family: "Great Vibes";
                font-size: 20px;
            }
            .amount {
                display: flex;
                justify-content: center;
                font-family: "Great Vibes";
                font-size: 20px;
            }
        }
    }
    ::ng-deep .order-button {
        display: flex;
        justify-content: center;
        button {
            width: 100%;
            color: #ffffff;
            font-size: 20px;
            font-family: "Great Vibes";
            .mat-mdc-button-touch-target {
                height: auto;
            }
        }
    }
}