<mat-drawer-container class="view-container">
    <mat-drawer #cart class="cart-sidenav" mode="side" position="end">
        <div class="inside-container">
            <div class="cart-header">
                <button class="cart-close" mat-mini-fab color="primary" (click)="cart.close()">
                    <mat-icon>close</mat-icon>
                </button>
                <div class="cart-title">Cart</div>
            </div>
            <div class="horizontal-divider"></div>

            <div class="empty-cart" *ngIf="commonService.cartItems.size === 0">
                Your cart is empty. Start Ordering !
            </div>

            <div class="cart-items" *ngIf="commonService.cartItems.size !== 0">
                <ng-container *ngFor="let item of commonService.cartItems.entries()">
                    <div class="title"> {{item[1].name}}</div>
                    <app-item-quatity [item]="item[1]"></app-item-quatity>
                    <div class="item-amount"> {{item[1].price * item[1].quantity}}</div>
                </ng-container>
            </div>

            <div class="cart-footer" *ngIf="commonService.cartItems.size !== 0">
                <div class="horizontal-divider"></div>
                <div class="total-amount">
                    <span class="amount-title"> Total Amount </span>
                    <span class="amount" [innerHTML]="commonService.totalCartValue"></span>
                </div>
                <div class="order-button">
                    <button mat-raised-button color="accent" (click)="placeOrder()"> Place Order </button>
                </div>
            </div>
        </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <app-menu *ngIf="activeTab === tab.MENU"></app-menu>
        <app-orders *ngIf="activeTab === tab.ORDERS"></app-orders>
    </div>
</mat-drawer-container>