<ng-container *ngIf="dialogType === 'itemList'">
    <div mat-dialog-title>
        {{categoryName}}</div>
    <mat-dialog-content class="mat-typography">
        <ng-container *ngFor="let item of itemList">
            <ul>
                <li>
                    <div class="item-container">
                        <div class="dish-details">
                            <div class="dish-title">{{item.name}}</div>
                            <div class="dish-price">{{item.price}}</div>
                            <div class="dish-description">{{item.description}}</div>
                        </div>
                        <div class="action-buttons">
                            <button mat-stroked-button *ngIf="!this.commonService.allItemsMap.get(item.id).isSelected"
                                [id]="item.id" color="accent" (click)="cartContentChange(item.id, true)">Add</button>
                            <!-- <div class="quantity-display" *ngIf="this.commonService.allItemsMap.get(item.id).isSelected">
                            <button mat-stroked-button [id]="item.id" color="accent" (click)="cartContentChange(item.id, true)">+</button>
                            <div class="quantity-display-number">{{this.commonService.allItemsMap.get(item.id).quantity}}</div>
                            <button mat-stroked-button [id]="item.id" color="accent" (click)="cartContentChange(item.id, false)">-</button>
                        </div> -->
                            <app-item-quatity [item]="item"></app-item-quatity>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-container>
    </mat-dialog-content>
</ng-container>

<ng-container *ngIf="dialogType === 'alertMessage'">
    <mat-dialog-content class="mat-typography">
        <div class="message-box">
            <div class="success-icon">
                <mat-icon>done_all</mat-icon>
            </div> 
            <div class="message-text" [innerHTML]="message"></div>
        </div>
    </mat-dialog-content>
</ng-container>