.order-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    .mat-mdc-card.mdc-card {
        width: 90%;
        background-color: #000000;
        color: #ffffff;
        margin: 10px; 
    }
    .order-category {
        width: 100%;
       .order-category-title {
        font-family: "Great Vibes";
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
       } 
       .horizontal-divider {
        height: 2px;
        background-image: linear-gradient(to right, #000000, #ffffff);
       }
    }
}