<div class="body-container">
    <div class="featured-dishes">
        <ng-container [ngTemplateOutlet]="header "
        [ngTemplateOutletContext]="{$implicit: 'Today\'s Special'}"></ng-container>
        <div class="specials-card">
        <ng-container *ngFor="let item of specialItems">
            <div class="parent-card">
            <div class="card-wrapper">
                <div class="card-overlay">
                    <div class="action-buttons">
                        <mat-chip-option *ngIf="!this.commonService.allItemsMap.get(item.id).isSelected" [value]="item.id" (selectionChange)="cartContentChange(item.id, true, $event)" color="accent">Add</mat-chip-option>
                        <app-item-quatity *ngIf="this.commonService.allItemsMap.get(item.id).isSelected" [item]="item"></app-item-quatity>
                    </div>
                </div>
                <mat-card class="style-card">
                    <mat-card-header>
                      <mat-card-title>{{ item.name }}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image [src]="item.image" alt="Paneer Tikka in Skewers">
                    <mat-card-content>
                      <div class="card-content">{{item.description}} </div> 
                    </mat-card-content>
                  </mat-card>
            </div>
            </div>
            </ng-container>
        </div>
    </div>
    <div class="main-menu">
        <ng-container [ngTemplateOutlet]="header "
        [ngTemplateOutletContext]="{$implicit: 'Regulars'}"></ng-container>

        <div class="specials-card">
            <ng-container *ngFor="let category of categories">
                <div class="parent-card" (click)="openRegularMenu(category.name)">
                    <div class="regular-card" [style.background-image]="'url(' + category.image + ')'">
                        <span class="category-title">{{category.name}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #header let-title>
    <div class="title"> {{title}} </div>
    <div class="horizontal-divider"></div>
</ng-template>
