@import "../../styles.scss";

.home-page-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    .header-toolbar {
        position: sticky;
        z-index: 10;
        top: 0;
    }
    .cart {
        position: relative;
    }
    .items-count {
        position: absolute;
        top: -10px;
        right: -10px;
        color: black;
        border-radius: 50%;
        border-radius: 50%;
        background: white;
        height: 18px;
        padding: 2px;
        width: 18px;
        display: flex;
        justify-content: center;
    }
}

::ng-deep {
    .tab-header-buttons {
        background-color: map-get($theme-primary, 900) !important;
        color: #ffffff !important;
        .mat-button-toggle-label-content {
            padding: 0 30px !important;
        }
    }
    .active-tab-header {
        font-weight: bolder;
        font-size: large;
    }
}

.mat-button-toggle-group {
    border: none;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.body-container {
    flex: 1;
    overflow: auto;
}