<div class="home-page-layout">
  <div>
    <mat-toolbar color="primary" class="header-toolbar">
      <mat-button-toggle-group name="Header Tabs" aria-label="Font Style" [value]="activeTab"
        (change)="changeActiveTab($event)">
        <mat-button-toggle [value]="tabs.MENU" class="tab-header-buttons"
          [ngClass]="activeTab === 'menu'? 'active-tab-header': ''">Menu</mat-button-toggle>
        <mat-button-toggle [value]="tabs.ORDERS" class="tab-header-buttons"
          [ngClass]="activeTab === 'orders'? 'active-tab-header': ''">Orders</mat-button-toggle>
      </mat-button-toggle-group>
      <span class="toolbar-spacer"></span>
      <div class="cart" (click)="cart.opened? cart.close(): cart.open()">
        <mat-icon>shopping_cart</mat-icon>
        <span class="items-count">{{commonService.cartItems.size}}</span>
      </div>
    </mat-toolbar>
  </div>
  <div class="body-container">
    <body-layout-wrapper [activeTab]="activeTab" (cartObject)="cartTemplate($event)"></body-layout-wrapper>
  </div>
</div>